* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #181a1b;
  font-family: "Helvetica Neue", sans-serif;
}
main {
  margin-top: 5rem;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
